.primary-button {
    display: inline-block;
    padding: 40px 70px;
    background-color: #1719ac;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #b30000;
}

.primary-button-link {
    color: #fff;
    text-decoration: none;
}